<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Login</title>
    <!--semantic-ui-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename ='mycss.css')}}">
    <title>票房預測系統</title>
</head>

<body class="image_bg">

    <!--主容器-->
    <div class="ui container">

        <div class="ui segment">

            <div style="text-align: center">
                <h1 class="header">票房預測系統</h1>
            </div>

            <div class="ui placeholder segment">
                <div class="ui column very relaxed stackable grid">
                    <div class="column">
                        <div class="ui form">

                            <form action="/submit" method="post" enctype="multipart/form-data">

                                <div class="field">
                                    <label for="budget">電影總預算</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="budget" name="budget" value="{{budget}}"><br><br>
                                        <i class="money icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="original_language">原始語言</label>
                                    <div class="ui left icon input">
                                        <select name="original_language" id="original_language" required>
                                            <option value="1" {{language_en}}>英文</option>
                                            <option value="2" {{language_zh}}>中文</option>
                                            <option value="0" {{language_other}}>其他</option>

                                        </select><br><br>

                                    </div>
                                </div>
                                <div class="field">
                                    <label for="popularity">流行系數</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="popularity" name="popularity"
                                            value="{{popularity}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="runtime">上映持續天數</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="runtime" name="runtime" value="{{runtime}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="has_homepage">是否有電影的網站或首頁</label>
                                    <div class="ui left icon input">
                                        <input type="radio"  id="has_homepage" name="has_homepage" value="1" {{has_homepage_yes}}required><label for="has_homepage_yes">有</label>
                                        <input type="radio" id="has_homepage" name="has_homepage" value="0" {{has_homepage_no}}><label for="has_homepage_no">無</label>
                                        <input type="radio" id="has_homepage" name="has_homepage" value="0" {{has_homepage_unknown}}><label for="has_homepage_unknown">不知道</label>


                                    </div>
                                </div>
                                <div class="field">
                                    <label for="collection">是否屬於電影系列</label>
                                    <div class="ui left icon input">
                                        <input type="radio" id="collection" name="collection" value="1" {{collection_yes}}required><label for="collection_yes">是</label>
                                        <input type="radio" id="collection" name="collection" value="0" {{collection_no}}><label for="collection_no">否</label>
                                        <input type="radio" id="collection" name="collection" value="0" {{collection_unknown}}><label for="collection_unknown">不知道</label>

                                    </div>
                                </div>
                                <div class="field">
                                    <label for="num_genres">種類（請輸入所有種類，並用空格隔開）</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="num_genres" name="num_genres"
                                            value="{{num_genres}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="num_prod_companies">電影製造公司數量</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="num_prod_companies" name="num_prod_companies"
                                            value="{{num_prod_companies}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="num_prod_countries">拍攝製造地點數量</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="num_prod_countries" name="num_prod_countries"
                                            value="{{num_prod_countries}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="cast_count">演員數量</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="cast_count" name="cast_count"
                                            value="{{cast_count}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="crew_count">劇組數量</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="crew_count" name="crew_count"
                                            value="{{crew_count}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="release_day">上映日期(星期幾)</label>
                                    <div class="ui left icon input">
                                        <select name="release_day" id="release_day" required>
                                            <option value="0" {{release_day_sun}}>星期日</option>
                                            <option value="1" {{release_day_mon}}>星期一</option>
                                            <option value="2" {{release_day_sun_tue}}>星期二</option>
                                            <option value="3" {{release_day_wed}}>星期三</option>
                                            <option value="4" {{release_day_thr}}>星期四</option><option value="5" {{release_day_fri}}>星期五</option><option value="6" {{release_day_sat}}>星期六</option>

                                        </select>

                                    </div>
                                </div>
                                <div class="field">
                                    <label for="Keywords_count">電影關鍵字數量</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="Keywords_count" name="Keywords_count"
                                            value="{{Keywords_count}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="isTaglineNA">有無標籤</label>
                                    <div class="ui left icon input">
                                        <input type="radio"  id="isTaglineNA" name="isTaglineNA" value="1" {{isTaglineNA_yes}}required><label for="isTaglineNA_yes">有</label>
                                        <input type="radio" id="isTaglineNA" name="isTaglineNA" value="0" {{isTaglineNA_no}}><label for="isTaglineNA_no">無</label>
                                        <input type="radio" id="isTaglineNA" name="isTaglineNA" value="0" {{isTaglineNA_unknown}}><label for="isTaglineNA_unknown">不知道</label>

                                    </div>
                                </div>
                                <div class="field">
                                    <label for="spoken_count">電影對話語言數量</label>
                                    <div class="ui left icon input">
                                        <input type="text" id="spoken_count" name="spoken_count"
                                            value="{{spoken_count}}"><br><br>
                                        <i class="lock icon"></i>
                                    </div>
                                </div>

                                <input type="submit" class="ui blue submit button" value="submit" />
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment" style="text-align: center">
                <h3>評估結果 : {{prediction}}</h3>
            </div>

            <div style="text-align: center">
                <br><br>
                <small>&copy;111-1機器學習概論-第六組</small>
            </div>

        </div>


    </div>


</body>

</html>
